<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/CSS/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- CSS customized -->
    <link href="@Url.Content("~/Content/CSS/estilo.css")" rel="stylesheet" type="text/css" />
    <title>Pendientes Proveedores</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
