@model PendientesProveedores.Models.Local_Pendientes_Proveedores

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3 class="text-danger">Esta seguro que desea eliminar esta factura?</h3>
<div>
    @*<h4>Local_Pendientes_Proveedores</h4>*@
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al Resumen", "Index")
        </div>
    }
</div>
